@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
*{
    font-family: 'Ubuntu', sans-serif !important;
}

.h-100vh {
	height: 100vh !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
	box-shadow: none !important;
}

.showcase {
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('/assets/images/feature_img.webp') no-repeat center center/cover;
}

.login-section{
	background: rgb(0, 0, 0, 0.75);
}

.showcase-top {
    position: relative;
    z-index: 99999999999 !important;
    padding: 20px 45px 0px 55px;
}

.showcase-top #logo {
    height: 130px;
}

@media(max-width: 659px) {

    .showcase-top {
        padding: 26px 0px 0px 25px;
    }

    .showcase-top #logo {
        height: 75px;
    }
}

@media (max-width: 500px) { 
     /*NAVBAR*/
	 
	.showcase-top {
        padding: 20px;
    }

	 .showcase-top #logo {
        height: 55px;
    } 
}

@media(max-width: 346px) {

	.showcase-top {
        padding: 20px;
    }

    /*NAVBAR*/
    .showcase-top #logo {
        height: 45px;
    } 
    
}